
<app-header></app-header>
  <!-- Showcase -->
  <section class="section-a">
    <div class="container">
      <div>
        <h2 class="slider-title"> Baby-sitters <span>de confiance près de <span> chez vous..</span></span></h2>
							<p>fiables se trouvent à proximité de votre domicile.</p>
							<p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">  
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg> Economique pour les familles</p>
<p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">  
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>  Sécurisant pour les baby-sitters</p>
<p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">  
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>   Géré par des professionnels</p>
        
        <a href="#" class="btn">Read More</a>
      </div>
      <img src="assets/images/non.png" alt="" />
    </div>
  </section>

  <!-- Large Text -->
  <section id="about" class="section-b">
    <div class="overlay">
      <div class="section-b-inner py-5">
        <h2 class="text-5 mt-1">Bienvenue sur la plateforme Babysitter Tunisien </h2>
        <p class="mt-1">
          Notre plateforme est conçue pour vous aider à trouver des babysitters 
          fiables et compétents en Tunisie. Que vous ayez besoin d'une garde occasionnelle, 
          régulière ou même d'une garde d'urgence, nous sommes là pour vous faciliter la recherche 
          du babysitter idéal pour vos enfants.
        </p>
      </div>
    </div>
  </section>

  <!-- Gallery -->
  <section class="section-c">
    <div class="gallery">
      <a href="https://i.ibb.co/T4VD1yY/bbb.png" class="big"
        ><img src="https://i.ibb.co/T4VD1yY/bbb.png" alt=""
      /></a>
      <a href="https://i.ibb.co/Bz2kkzD/vvv.png" class="big"
        ><img src="https://i.ibb.co/Bz2kkzD/vvv.png" alt=""
      /></a>
      <a href="https://i.ibb.co/hsHhd8L/vbnbv.png" class="big"
        ><img src="https://i.ibb.co/hsHhd8L/vbnbv.png" alt=""
      /></a>
      <a href="https://i.ibb.co/mFYC8CD/Capture-d-cran-2023-05-23-082733.png" class="big"
        ><img src="https://i.ibb.co/mFYC8CD/Capture-d-cran-2023-05-23-082733.png" alt=""
      /></a>
      <a href="https://i.ibb.co/yYJYn5N/Capture-d-cran-2023-05-23-083008.png" class="big">
        <img src="https://i.ibb.co/yYJYn5N/Capture-d-cran-2023-05-23-083008.png" alt=""
      /></a>
      <a href="https://i.ibb.co/5h9FLYx/Capture-d-cran-2023-05-23-083446.png" class="big"
        ><img src="https://i.ibb.co/5h9FLYx/Capture-d-cran-2023-05-23-083446.png" alt=""
      /></a>
    </div>
  </section>

  <!-- Footer -->
  <footer class="section-footer py-4 bg-primary">
    <div class="container">
      <div>
        <h2 class="text-2 mb-1">Lorem ipsum dolor sit.</h2>
        <a href="http://twitter.com">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="http://facebook.com">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="http://youtube.com">
          <i class="fab fa-youtube fa-2x"></i>
        </a>
      </div>
      <div>
        <h3>Company Info</h3>
        <ul>
          <li><a href="#">All Products</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div>
        <h3>Blog Posts</h3>
        <ul>
          <li><a href="#">Lorem ipsum dolor.</a></li>
          <li><a href="#">Lorem ipsum dolor.</a></li>
          <li><a href="#">Lorem ipsum dolor.</a></li>
          <li><a href="#">Lorem ipsum dolor.</a></li>
        </ul>
      </div>
      <div>
        <h3>Subscribe</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <form
          class="mt-1"
          name="email-form"
          method="POST"
          data-netlify="true"
        >
          <div class="email-form">
            <span class="form-control-wrap"
              ><input
                type="email"
                name="email"
                id="email"
                size="40"
                class="form-control"
                placeholder="E-mail"/></span
            ><button type="submit" value="Submit" class="form-control submit">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </footer>